# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.WindowsFormsApp1.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\MyProgramms\JetBrains\Projects\c#\Proj1\ConsoleApplication1\WindowsFormsApp1\.idea\.idea.WindowsFormsApp1.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
